/* general */
html,
body {
  height: 100%;
}

body {
  background: cornsilk;
}

.movieList {
  border: 1px black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 65vh;
  overflow-x: scroll;
  padding-top: 40px;
}

.movieList .eachMovie {
  margin-left: 20px;
}

.movieList .eachMovie img {
  max-width: 400px;
  max-height: 400px;
}

.movieList .eachMovie img:hover {
  opacity: 0.3;
  filter: alpha(opacity=30);
  cursor: pointer;
}

.movieDetail {
  margin-top: 100px;
}

.movieDetail img {
  max-width: 100%;
  max-height: 100vh;
}

.input-field {
  width: 380px;
  height: 20px;
  margin: 20px;
}

.submit-btn {
  width: 50px;
}



