html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;

}

body {
  background: cornsilk;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .nav-links {
  display: flex;
  justify-content: flex-end;
} */

 .nav-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 7px;
  padding: 7px;
}

.link a {
  margin: 10px;
}

.link a:visited {
  color: black;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

.login-form {
  display: flex;
  flex-direction: column;
  border: 3px solid red;
}

.input-field {
  width: 380px;
  height: 20px;
  margin: 20px;
}

.submit-btn {
  width: 50px;
}



