/* general */
html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;

}

body {
  background: cornsilk;
}

.movieList {
  border: 1px black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 65vh;
  overflow-x: scroll;
  padding-top: 40px;
}

.movieList .eachMovie {
  margin-left: 20px;
}

.movieList .eachMovie img {
  max-width: 400px;
  max-height: 400px;
}

.movieList .eachMovie img {
  opacity: 0.6;
  filter: alpha(opacity=30);
  cursor: pointer;
}
.movieList .eachMovie img:hover {
  opacity: 1.0;
  /* filter: alpha(opacity=30); */
  cursor: pointer;
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}

.movieDetail {
  margin-top: 100px;
}

.movieDetail img {
  max-width: 100%;
  max-height: 100vh;
}

.navbar {
  max-height: 100vh;
}

.input-field {
  width: 380px;
  height: 20px;
  margin: 20px;
}

.submit-btn {
  width: 50px;
}



.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  width: 180px;
}